/* format carte */
.card {
  max-width: 170px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: small;
  padding: 10px;
}

.title {
  color:  rgb(38, 37, 35);
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(38, 37, 35);
 
}
a:hover{
  background-color:rgb(242, 241, 240)
}

body {
  background: linear-gradient(to right,  rgb(166, 164, 161), rgb(217, 216, 215));
}

/* présentation */
.prez {
text-align: center;
padding: 30px;
}

h4 {
text-align: center;
color: rgb(38, 37, 35);
}

/* video */
.project {
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around; /* Pour centrer verticalement */
}

.project iframe {
margin: 0 auto;
}

/* footer */

footer{
  display: flex;
  justify-content: space-around;
 
}
